#title {
border-bottom-style: solid;
border-color: gray;
margin-bottom: 0px;
font-family:arial;
font-size:xx-large;
text-align:left;
padding-bottom: 5px;
}
#contactinfo {
padding-top: 0px;
margin-top: 0px;
font-family:arial;
font-size:large;
text-align:left;
}
.section {
border-bottom-style: solid;
border-color: gray;
font-family:arial;
font-size:x-large;
padding-bottom: 5px;
}
body { 
margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;
background-image: url(store.jpeg); 
background-size: cover;
background-repeat: no-repeat;
}
main {
}
tr:nth-of-type(even){
Background-color: White;
}